@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .section {
    padding-bottom: 120px;
  }
  .item-description {
    font-weight: 400;
  }
  /* HEADER */
  .contacts {
    flex-direction: row;
    gap: 40px;
  }
  .header-logo {
    margin-right: 76px;

    padding: 25px 0;
  }
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
  /* HERO SECTION */
  .hero-section {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_desk.jpg);
  }
  .hero-title {
    margin-bottom: 48px;
  }
  /* BENEFITS */
  .benefits-section {
    padding-top: 120px;
  }
  .benefits-list {
    flex-direction: row;
    gap: 24px;
  }
  .benefits-item {
    width: 264px;
  }
  .benefits-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--light);
    margin-bottom: 8px;
  }
  .benefits-item > .item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  /* WHAT ARE WE DOING */
  .services-section {
    display: block;
  }
  .services-list {
    display: flex;
    gap: 24px;
  }
  /* TEAM SECTION */
  .team-section {
    padding-top: 120px;
  }
  /* CUSTOMERS SECTION */
  .customers-section {
    padding-top: 120px;
  }
  /* FOOTER */
  .page-footer {
    padding: 100px 0;
  }
  .footer-left-side {
    margin-right: 120px;
  }
  .footer-middle {
    margin-right: 80px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero_desk@2x.jpg);
  }
}
