.list {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: auto;
  margin: 0 auto;
  padding: 0 16px;
  outline: 2px solid red;
  outline-offset: -2px;
}
.section {
  padding-bottom: 96px;
}
/* COMPONENTS */
.item-title {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.modal-btn {
  background-color: var(--primary-brand);
  color: var(--white-background);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state);
}
/* HERO SECTION */
.hero-section {
  background-color: var(--dark);
  padding: 112px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  color: var(--white-background);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  max-width: 320px;
}
/* BENEFITS */
.benefits-section {
  padding-top: 96px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
.benefits-item {
  width: 396px;
}
.benefits-wrapper {
  display: none;
}
.benefits-title {
  margin-bottom: 8px;
}
.benefits-item > .item-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}
