.list {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: auto;
  margin: 0 auto;
  padding: 0 16px;
  outline: 2px solid red;
  outline-offset: -2px;
}
.section {
  padding-bottom: 96px;
}
/* COMPONENTS */
.item-title {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}

/* BENEFITS */
.benefits-section {
  padding-top: 96px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
.benefits-item {
  width: 396px;
}
.benefits-wrapper {
  display: none;
}
.benefits-title {
  margin-bottom: 8px;
}
.benefits-item > .item-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
}
