@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* HERO SECTION */
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
  /* BENEFITS */
  .benefits-list {
    column-gap: 24px;
  }
  .benefits-item {
    width: 351px;
  }
}
